 /* Custom styles for mobile */
 body {
    font-family: 'Roboto', sans-serif;
}

#intro {
    height: 100vh; /* Full height for mobile */
    margin-top: 0; /* No margin for mobile */
    background-image: url(/assets/img/main.gif);
    
}

.mask {
    /* background-color: rgba(0, 0, 0, 0.7); */
   
}

.text-white {
    padding: 20px;
}

.btn {
    width: 100%; /* Full width buttons */
    margin-bottom: 10px; /* Space between buttons */
}

/* Adjusting navbar for mobile */
.navbar {
    padding: 10px 15px;
}

@media (max-width: 576px) {
    #intro {
        padding: 20px;
    }
}