/* VARIABLES */
/* BASE */
body {
  color: #FEFEFE;
  font: 100 100%/1.6 "Heebo", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.scene {
  background-color: rgb(62, 135, 234);
  /* 명확하게 배경색 설정 */
  height: 100vh;
  position: relative;
}

.card {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(254, 254, 254, 0.075);
  border: 1px solid rgba(254, 254, 254, 0.18);
  border-radius: 15px;
  box-shadow: 0 10px 35px 0 rgba(54, 33, 0, 0.65);
  color: white;
  max-width: 300px;
  overflow: hidden;
  padding: 20px 30px 50px 30px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.card__heading {
  font-size: 1.35rem;
  font-weight: 200;
  margin-bottom: 15px;
}

.card__figure {
  height: auto;
  margin: 0 auto;
  max-width: 225px;
  width: 60%;
}

.card__image {
  border-radius: 50%;
  max-width: 100%;
}

.card__input {
  background: rgba(254, 254, 254, 0.075);
  border: 1px solid rgba(254, 254, 254, 0.3);
  border-radius: 3px;
  box-sizing: border-box;
  color: #FEFEFE;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  padding: 10px;
  width: 100%;
}

.card__input:focus,
.card__input:active {
  background: rgba(254, 254, 254, 0.08);
  border: 1px solid rgba(254, 254, 254, 0.75);
  outline: none;
}

.card__button {
  background: rgba(254, 254, 254, 0.65);
  border: none;
  border-radius: 3px;
  color: #362100;
  margin: 15px auto 0 auto;
  padding: 8px 20px;
}

.card__button:focus,
.card__button:active {
  background: rgba(255, 255, 255, 0.75);
  outline: none;
}

/*로그인 화면에 아이콘 넣기*/
.input-container {
  position: relative;
  margin-bottom: 1rem;
}

.card__input {
  padding-left: 30px;
  /* 아이콘 크기에 따라 조정 */
}

.input-container i {
  position: absolute;
  left: 10px; /* 아이콘 위치 조정 */
  top: 50%;
  transform: translateY(-50%);
  color: #fff; /* 아이콘 색상 */
}

/*로그인 제이쿼리*/

.card__input::placeholder {
  color: white;
  /* 원하는 색상으로 변경 */
  opacity: 0.7;
  /* 투명도를 조정 (선택 사항) */
}

.input-container {
  position: relative;
  /* margin-bottom: 1.5rem; */
  margin-top: 0; /* 마진을 없앰 */
  /* 기본 간격을 늘려 오류 메시지 공간을 확보 */
}

.card__input.is-invalid {
  margin-bottom: 0;
  /* 오류 상태일 때 추가 간격을 없앰 */
}

/* 오류 메시지를 인풋 박스 아래에 표시 */
.invalid-feedback {
  /* position: absolute; */
  left: 0;
  color: red;
  font-size: 0.9rem;
  display: block;
  white-space: normal; /* 줄 바꿈 허용 */
  width: 100%;
  text-align: left; /* 텍스트 왼쪽 정렬 */
  margin-bottom: -1rem;
  
  
}

